{% extends 'base.html' %}

{% block content %}
{% if good %}
<h1>Редактирование</h1>
{% else %}
<h1>Создание</h1>
{% endif %}
<form class="form-horizontal" role="form" method="POST" action="index.php?act=save&c=good">
    {% if good %}
    <input type="hidden" name="id" value="{{ good.id_good }}">
    {% endif %}
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Наименование</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="name" id="name" placeholder="Наименование"
                value="{{ good.name }}">
        </div>
    </div>
    <div class="form-group">
        <label for="price" class="col-sm-2 control-label">Цена</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="price" id="price" placeholder="Цена" value="{{ good.price }}">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Сохранить</button>
        </div>
    </div>
</form>

{% endblock %}